extends layout

block inner_content

  content
    section(class='typeList')
      header
        h1="🚀 Dashboard / Pages"
        a(href='/application/pages/new') New Page

      content
        list

      footer
        a(href='/application/pages/new') New Page

  script(src='/scripts/application/admin/page_list.js')
