extends layout

block inner_content

  content
    section(class='typeList')
      header
        h1="🚀 Dashboard / Posts"

      content
        list

      footer
        a(href='/application/post/new') New Post

  script(src='/scripts/application/admin/post_list.js')

