footer
  section
    navigation
      button(action='footer_nav_toggle') Nav
      menu
        a(href='/') Home
        a(href='/about-us') About Us
        a(href='/contact') Contact Us
        a(href='/blog/') Blog
        a(href='/users/') Users
        a(href='/promo-register') Register
        a(href='/promo-login') Login
  section
    copyright
      a(href='https://github.com/v-core9/') v-core9
      p @ 2022
