header
  section
    h1 V-core9
  section
    navigation
      button(action='header_nav_toggle') Nav
      menu
        a(href='/') Home
        a(href='/about-us') About Us
        a(href='/contact-us') Contact Us
        a(href='/blog/') Blog
        a(href='/users/') Users
        a(href='/promo-register') Register
        a(href='/promo-login') Login
