navigation
  header
    h2 V-core9
    button(action='navigation_toggle') X
  content
    a(href='/') Home
    a(href='/about-us') About Us
    a(href='/contact') Contact Us
    a(href='/blog/') Blog
    a(href='/users/') Users
    a(href='/promo-register') Register
    a(href='/promo-login') Login
  footer
    p Copyright &copy; 2018 V-core9
