* {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

#vSidebar {
    position: fixed;
    min-height: 200px;
    width: 350px;
    background: #101525f2;
    box-shadow: 0 0 10px grey;
    transition: 0.25s ease all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100;


    &[status="open"] {
        bottom: 0;
        width: calc(100% - 2em);
    }
    
    &[ui_pos="left"] {
        top: 0;
        bottom: auto;
        height: calc(100% - 1em);
        left: calc( -350px - 2em);
        width: calc(100% - 1em);
    }
    
    &[ui_pos="left"][status="open"] {
        left: 0;
    }
    
    &[ui_pos="top"] {
        top: -100%;
        left: 0;
        width: calc(100% - 2em);
        height: 200px;
    
        
    }
    
    &[ui_pos="top"][status="open"] {
        top: 0;
    }
    
    &[ui_pos="right"] {
        top: 0.5em;
        right: calc(-100% - 2em);
        height: calc(100% - 1em);
        width: calc(100% - 1em);
    }

    &[ui_pos="right"][status="open"] {
        right: 0.5em;
        top: 0.5em;
    }

    content {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .header {
        background: #0e121e;
        color: #fff; 
        border-bottom: 2px solid #000;
        z-index: 25;
        display: flex;
        align-items: center;
        justify-content: space-between;


        branding {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.5em;
        }
        
        h2 {
            font-size: 1.125em;
            font-family: monospace;
            color: White;
            padding: 0.25em 0.5em;
        }

        
        button {
            color: #787878;
            border: none;
            box-shadow: none;
            padding: .5em;
            text-shadow: none;
            
            &:hover {
                color: white;
                border-color: #fefefe;
            }
        }
    }
}

