* {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

#vSidebar {
    position: fixed;
    min-height: 200px;
    width: 350px;
    background: #f5f0f0;
    box-shadow: 0 0 10px grey;
    transition: 0.25s ease all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100;


    &[status="open"] {
        bottom: 0;
        width: calc(100% - 2em);
    }
    
    &[ui_pos="left"] {
        top: 0;
        bottom: auto;
        height: calc(100% - 1em);
        left: calc( -350px - 2em);
        width: 350px;
    }
    
    &[ui_pos="left"][status="open"] {
        left: 0;
    }
    
    &[ui_pos="top"] {
        top: -100%;
        left: 0;
        width: calc(100% - 2em);
        height: 200px;
    
        
    }
    
    &[ui_pos="top"][status="open"] {
        top: 0;
    }
    
    &[ui_pos="right"] {
        right: calc(-350px - 2em);
        height: calc(100% - 1em);
        top: 0.5em;
        width: 350px;
    }

    &[ui_pos="right"][status="open"] {
        right: 0.5em;
        top: 0.5em;
    }

    v_dbg_box {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .header {
        padding: 1em;
        background: #ebebeb;
        color: white;
        box-shadow: 0 0 5px gray;
        z-index: 25;

        h2 {
            font-size: 1.125em;
            font-family: monospace;
            color: #545454;
        }
    }
}
