

line {
    stroke-dashoffset: 1000;
    animation: dash linear infinite;
    animation-direction: alternate, reverse, normal;

    &.alter_direction_animation {
        animation: dash reverse infinite;
        animation-direction: alternate, reverse, normal;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.box,
.borderline {
    opacity: 0;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 10;
}

.box {
    animation: fadein 5s linear;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.borderline {
    animation: fadein 2.5s linear;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

#v_logo {
    transform: scale(1.25);
    animation: re_grow 2.5s linear;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

@keyframes re_grow {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}


@for $i from 1 through 25 {
    line:nth-child(n + #{$i}) {
        animation-duration: random(5) + s;
    }
}
