extends form_base

block form

  form(action="http://localhost:2000/auth/login", method="POST", id="login_form")

    header
      h1 Contact Form

    content

      group
        label 📧 Email
        input(type='email', name='email', placeholder='Email', required)

      group
        label 📧 Subject
        input(type='text', name='subject', placeholder='Message Subject', required)

      group
        label 🔑 Message
        input(type='text', name='message', placeholder='Random Message Demo Text...', required)

      input(type='submit', name='submit', value='Login')

    footer
      p Don't have an account? Register <a href='/register'>here</a>

  script(src='/scripts/login.js')
