* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: #2196f3;
}

header {
  display: flex;
  padding: .5em 1em;
  border-bottom: 1px solid #112538;
  background: #102030;
  justify-content: space-between;
  color: white;
  align-items: center;
  gap: 2em;
}

section {
  display: flex;
  /* gap: 1em; */
}

section a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 1em;
}

v_app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 140px inset darkslategray;
}

v_app content {
  display: flex;
  flex: 1;
  padding: 1em;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  gap: 1em;
}

footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #112538;
  justify-content: space-between;
  align-items: center;
  background: #102030;
  color: white;
  padding: .5em;
}

copyright {
  display: flex;
  align-items: center;
  padding: 0 1em;
  gap: 1em;
  align-items: center;
}

navigation>content {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  flex: 1;
  gap: 0.5em;
  padding: 0;
  border: 4px solid #102030;
}

navigation {
  position: absolute;
  z-index: 500;
  height: 100%;
  color: white;
  min-width: 80%;
  display: flex;
  background: #263544;
  right: -100%;
  transition: 0.5s cubic-bezier(0.83, -0.07, 0.38, 1.25) all;
  flex-direction: column;
  box-shadow: 0 0 20px black;
}

@media screen and (min-width: 640px) {
  navigation {
    min-width: 400px;
  }
}

navigation.open {
  right: 0;
}

button,
input[type="submit"] {
  padding: 0.5em 1em;
  color: white;
  border: none;
  background: #2196f3;
  display: flex;
  cursor: pointer;
  border: 1px solid transparent;
  transition: .15s linear all;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

button:hover,
input[type="submit"]:hover {
  background: #0d47a1;
  border: 1px solid #2196f3;
  transition: .25s ease all;
}

button:active,
input[type="submit"]:active {
  background: #2196f3;
  border: 1px solid #ffffff;
  transition: .05s linear all;
}

navigation content a {
  display: flex;
  text-decoration: none;
  border: 1px solid #102030;
  align-items: center;
  line-height: 1em;
}

navigation content a:hover {
  border: 1px solid #2196f3;
  color: white;
}

post_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

post_list item a {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: #102030;
  padding: 1em;
  color: white;
  box-shadow: 0 10px 30px -10px #0000009e;
  align-items: center;
  border: 3px solid #1e2f40;
  border-radius: 2em;
  /* align-items: stretch; */
  text-decoration: none;
}

post_list {
  max-width: 1280px;
  margin: 0 auto;
}

post_list item img {
  max-width: 175px;
  height: fit-content;
  padding: 1em;
  box-shadow: 10px -10px 20px -10px #2196f369 inset;
  border-radius: 2em;
  border: 1px solid#1e2f40;
}

post_list item info header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  background: transparent;
}

post_list item a:hover {
  background: #1e2f40;
  border-color: #2196f3;
}

post_list item a:hover img {
  background: #2196f3;
}

post_list item info h2 {
  font-size: 2em;
  color: #2196f3;
}

post_list item a info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

post_list item info span {
  text-align: right;
  color: #2d4760;
}

footer button {
  margin: 0.5em;
}

copyright a {
  /* padding: 1em; */
}

@media screen and (min-width: 480px) {
  post_list item a {
    flex-direction: row;
    align-items: stretch;
  }
}

content>section {
  flex-direction: column;
  outline: 3px solid #102030;
  background: linear-gradient(225deg, #162738, #10203000);
  gap: 0;
}

content>section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.25em;
}

form {
  outline: 3px solid #102030;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 2em auto;
}

form content group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

form group input {
  padding: 0.5em;
}

form group label {
  color: #2196f3;
  font-size: 1.25em;
}

group.inline {
  flex-direction: row;
  align-items: center;
  display: flex;
}

icon {
  padding: 0.5em;
  display: flex;
  width: 1em;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  font-size: 2em;
}

navigation content a label {
  padding: 0 .5em;
  color: white;
  pointer-events: none;
}

navigation content a:hover icon {
  background: #2196f3;
}

/************************************************************************************************
SVG LOGO STYLE
*************************************************************************************************/
svg * {
  stroke-width: 1%;
}

line {
  stroke-dashoffset: 1000;
  animation: dash linear infinite;
  animation-direction: alternate, reverse, normal;
}

line.alter_direction_animation {
  animation: dash reverse infinite;
  animation-direction: alternate, reverse, normal;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/*
END OF SVG LOGO STYLE
*/
ul {
  display: flex;
  gap: 1em;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
}

ul li a {
  padding: .5em 1em;
  background: #172839;
  display: flex;
  width: fit-content;
  border: 1px solid #102030;
}

ul>li>a:hover {
  background: #102030;
  color: white;
}

h4 span {
  color: #2196f3;
  padding: .5em 1em;
  background: #102030;
}

content h4 {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

li>a {
  white-space: break-spaces;
}

v_app>content {
  background: #203346;
  padding: 1em;
}

navigation>content>menu>*>* {
  pointer-events: none;
}

navigation>content>actions>*>* {
  pointer-events: none;
}

form>header {
  border-bottom: 5px solid #18293b;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

form>footer {
  border-top: 5px solid #18293b;
  border-bottom: 5px dashed #20334680;
  gap: 1em;
  justify-content: center;
}

navigation>content>menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
  padding: 0.25em;
}

navigation>content>actions {
  flex-direction: row;
  display: flex;
}

navigation>content>actions button {
  flex: 1;
}

form>content>group>input,
textarea {
  background: #102030;
  border: none;
  padding: 1em;
  color: white;
  border-left: 5px solid #18293b;
}

navigation menu a icon {
  padding: 0.5em;
  background: #102030;
  font-size: 1em;
}

#contact_form>footer {
  flex-direction: column;
  align-items: baseline;
}

#contact_form>footer h4 {
  font-size: 1.15em;
}

#contact_form>footer p {
  font-size: .875em;
}

#contact_form>footer group {
  display: flex;
  gap: .5em;
}

#contact_form>header {
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

form>header>* {
  padding: 0.25em 0.5em;
}

info.info_circle {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  border-radius: 50%;
}

ul>li>a {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-decoration: none;
  gap: .5em;
  white-space: pre;
}

ul>li {
  flex: 1;
  display: flex;
}

ul>li>a>group>h3 {
  color: white;
}

ul>li>a>group {
  justify-content: space-between;
  border: 1px solid #102030;
  border-left: 4px solid #102030;
  padding: 0.25em 0.25em 0.25em 1em;
}

ul>li>a>group>p {
  padding: .5em 1em;
  background: #203346;
  border: 1px solid #102030;
  min-height: 1em;
  line-height: 1em;
}

ul>li>a>group:hover {
  background: #172839;
}

.inline_list ul {
  flex-direction: row;
  flex-wrap: wrap;
}

.inline_list ul li {
  flex: 0;
}

button>icon {
  font-size: 1em;
  padding: 0.25em;
}

content.inline {
  flex-direction: row;
}

side_nav {
  display: flex;
  flex-direction: column;
  background: #1a2c3e;
}

side_nav menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

side_nav menu a icon {
  font-size: 1em;
}

content.application {
  padding: 0;
  gap: 0;
}

section content list {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

section content list item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.25em 1em;
  background: #1a2c3e;
  border: 1px solid transparent;
  justify-content: space-between;
}

section content list item img {
  max-width: 50px;
}

section content list item:hover {
  border: 1px solid #2196f3;
}

section.typeList {
  flex: 1;
}

section content list item info,
section content list item actions {
  display: flex;
  gap: 1em;
}

section content list item info.flex {
  flex: 1;
  align-items: baseline;
  gap: 0.2em;
}

section content list item info {
  flex-direction: column;
  align-items: center;
}

section content list item info.info_circle,
section content list item actions {
  flex: 0;
}

info.info_circle[status='true'] {
  border: 2px solid #4caf50;
  border-radius: 1em;
  padding: .25em .5em;
  width: auto;
  height: auto;
  color: #4caf50;
  background: transparent;
  font-size: .75em;
  line-height: 1em;
}

.application content form {
  margin: 0;
  width: auto;
}
