* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: #2196f3;
}

header {
  display: flex;
  padding: 1em;
  border-bottom: 1px solid #112538;
  background: #102030;
  justify-content: space-between;
  color: white;
}

section {
  display: flex;
  gap: 1em;
}

section a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 1em;
}

v_app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 140px inset darkslategray;
}

v_app content {
  display: flex;
  flex: 1;
  padding: 1em;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  color: white;
  gap: 1em;
}

footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #112538;
  justify-content: space-between;
  align-items: center;
  background: #102030;
  color: white;
  padding: 1em;
}

copyright {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

navigation content {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  flex: 1;
  gap: 0.5em;
  padding: 0.25em;
  border: 4px solid #102030;
}

navigation {
  position: absolute;
  z-index: 500;
  height: 100%;
  color: white;
  min-width: 300px;
  display: flex;
  background: #263544;
  right: -100%;
  transition: 0.5s cubic-bezier(0.83, -0.07, 0.38, 1.25) all;
  flex-direction: column;
  box-shadow: 0 0 20px black;
}

navigation.open {
  right: 0;
}

button {
  padding: 0.5em 1em;
  color: white;
  border: none;
  background: #2196f3;
}

navigation content a {
  display: flex;
  text-decoration: none;
  border: 1px solid #102030;
  align-items: center;
  line-height: 1em;
}

navigation content a:hover {
  border: 1px solid #2196f3;
  color: white;
}

post_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

post_list item a {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: #102030;
  padding: 1em;
  color: white;
  box-shadow: 0 10px 30px -10px #0000009e;
  align-items: center;
  border: 3px solid #1e2f40;
  border-radius: 2em;
  /* align-items: stretch; */
  text-decoration: none;
}

post_list {
  max-width: 1280px;
  margin: 0 auto;
}

post_list item img {
  max-width: 175px;
  height: fit-content;
  padding: 1em;
  box-shadow: 10px -10px 20px -10px #2196f369 inset;
  border-radius: 2em;
  border: 1px solid#1e2f40;
}

post_list item info header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  background: transparent;
}

post_list item a:hover {
  background: #1e2f40;
  border-color: #2196f3;
}

post_list item a:hover img {
  background: #2196f3;
}

post_list item info h2 {
  font-size: 2em;
  color: #2196f3;
}

post_list item a info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

post_list item info span {
  text-align: right;
  color: #2d4760;
}

footer button {
  margin: 0.5em;
}

copyright a {
  padding: 1em;
}

@media screen and (min-width: 480px) {
  post_list item a {
    flex-direction: row;
    align-items: stretch;
  }
}

content>section {
  flex-direction: column;
  outline: 3px solid #102030;
  background: linear-gradient(225deg, #162738, #10203000);
  gap: 0;
}

content>section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.25em;
}

form {
  outline: 3px solid #102030;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

input[type="submit"] {
  padding: .5em 1em;
  color: white;
  background: #2196f3;
  border: none;
}

form content group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

form group input {
  padding: 0.5em;
}

form group label {
  color: #2196f3;
  font-size: 1.25em;
}

group.inline {
  flex-direction: row;
  align-items: center;
}

navigation content a icon {
  padding: 0.5em;
  display: flex;
  line-height: 1em;
  width: 1em;
  justify-content: center;
  align-items: center;
  background: #102030;
}

navigation content a label {
  padding: 0 .5em;
  color: white;
  pointer-events: none;
}

navigation content a:hover icon {
  background: #2196f3;
}

/************************************************************************************************
SVG LOGO STYLE
*************************************************************************************************/
svg * {
  stroke-width: 1%;
}

line {
  stroke-dashoffset: 1000;
  animation: dash linear infinite;
  animation-direction: alternate, reverse, normal;
}

line.alter_direction_animation {
  animation: dash reverse infinite;
  animation-direction: alternate, reverse, normal;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/*
END OF SVG LOGO STYLE
*/
ul {
  display: flex;
  gap: 1em;
  list-style: none;
  flex-wrap: wrap;
}

ul li a {
  padding: .5em 1em;
  background: #172839;
  display: flex;
  width: fit-content;
  border: 1px solid #102030;
}

ul li a:hover {
  background: #2196f3;
  color: white;
}

h4 span {
  color: #2196f3;
  padding: .5em 1em;
  background: #102030;
}

content h4 {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}


li>a {
  white-space: break-spaces;
}

v_app>content {
  background: #203346;
}
