extends layout

block content
  v_app
    include includes/header.pug
    include includes/navigation.pug
    content
      section
        header
          h1="Admin Dashboard"
    include includes/footer.pug
