extends layout

block content
  content
    section(class='error')
      header
        h1= message
      content
        pre #{error.stack}
      footer
        h2 Error Status Code : #{error.status}
