extends form_base

block form

  form(action="http://localhost:2000/contact/", method="POST", id="contact_form")

    header
      h1 Contact Form

    content

      group
        label 📧 Email
        input(type='email', name='email', placeholder='Email', required)

      group
        label 📧 Subject
        input(type='text', name='subject', placeholder='Message Subject', required)

      group
        label 🔑 Message
        textarea(name='message', placeholder='Random Message Demo Text...', rows='4', cols='50' required)

      input(type='submit', name='submit', value='Login')

    footer
      p NOTE: Register <a href='/register'>here</a> for a better support and priority.

