extends layout

block content
  v_app
    include includes/header.pug
    include includes/navigation.pug

    content
      h1 Tags
      ul
        each val in data
          li
            a(href='/tags/'+val.slug) #{val.title}

    include includes/footer.pug
