extends layout

block content
  content
    section(class='inline_list')
      header
        h1 Tags
      content
        ul
          each val in data
            li
              a(href='/tags/'+val.slug) #{val.title}
      footer
        p Many Tags To See
