body {
    background: linear-gradient(45deg, #203040, #101525);
}


.page_section {
    display: flex;
    gap: 1em;
    flex-direction: column;

}


@media screen and (min-width: 768px) {
    .page_section {
        flex-direction: row;
    }
}
